<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<main >
    <div>
        <p><a href="first">FIRST</a></p>
        <p><a href="login">TEST(LOGIN)</a></p>


    </div>
</main>
</body>
</html>